[Unit]
Description=MongoDB service
Wants=network.target
After=network.target

[Service]
Type=forking
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/lib/mongod
ExecStartPre=/bin/chown mongodb:mongodb /var/lib/mongod
ExecStart=/usr/bin/mongod -f /home/administrateur/cloud/config/mongo_configSvr.conf
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
User=administrateur
Group=administrateur

[Install]
WantedBy=multi-user.target